/* Header Styles */
.header {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, rgb(38, 167, 226) 0%, rgba(170, 36, 36, 0.844) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  padding: 10px 32px;
  border-radius: 0.5rem;
  margin-top: 20px;
  color: #c27272;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #6191c2;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.visit-section {
  margin-top: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

.visit-details {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
